.forget-page{
    background-image: url(/public/images/bg-one.jpg);
    height: 100vh; /* Ensure the parent takes full viewport height */
    display: flex; /* Flexbox to ensure centering of .container */
    justify-content: center;
    align-items: center;
}
/* main section  */
.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 1100px;
    height: 550px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    
    background: rgba(52, 38, 82, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(52, 38, 82, 0.13);
}
.main-form{
    width: 400px;
    margin-right: 60px;
}
.main-form h1{
    @apply pt-2 pb-2 text-2xl text-center;
    font-size: 30px;
    font-weight: 600;
    color: white;
}

/* lottie section */
.main-ani{
    width: 400px;
}

/* form  */
.form label{
    @apply text-sm font-bold text-white
}

/* Email */
.input{
    @apply w-full px-3 py-2 mt-1 text-sm leading-tight text-gray-700 border rounded shadow appearance-none;
}
